html {
    height: 100%;
}
body {
    height:auto ;
    width: 100%;
    min-height: 100%;
    font-family: Arial, sans-serif;
    background: #dadada;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
}

.main a {
    color: #a07e16;
    font-size: 25px;
    border: 2px solid #e6ba33;
    border-radius: 25px;
    padding-left: 2%;
    padding-right: 2%;
}

.main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 650px;
    background: #e9d4a5;
}

.as {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.as img {
    width: 10%;
    height: 10%;
}
.data {
    display: flex;
    justify-content: center;
}



.conteiner{
    max-width: 1920px;
    margin: 0 auto;
}

@media (max-width:1199px){
    .conteiner{
        max-width: 992px;
    }
}

@media (max-width:992px){
    .conteiner{
        max-width: 750px;
    }
}
@media (max-width:749px){
    .conteiner{
        max-width: none;
    }
}
